---
layout: default
class: blog
permalink: /blog/
title: Blog
---

<div class="blog">
  {% for post in site.posts %}
    <article class="blog__post">    
 		<div class="blog__postImage blog__postImage--{{post.class}}"></div>
      <h2 class="blog__postTitle">
      	<a class="blog__postTitleLink" href="{{ site.baseurl }}{{ post.url }}">
      		{{ post.title }}
      	</a>
      </h2>

      <div class="blog__postContent">
        {{ post.content | truncatewords: 100 }}
      </div>
      
      <a href="{{ site.baseurl }}{{ post.url }}" class="blog__postReadMore">Read More</a>
    </article>
    {% if forloop.last == false %}
      <hr />
    {% endif %}
  {% endfor %}
</div>
