---
---
html {
  background-color: #CCC;
}

.aboutMe {
  & & {
    .navBar__link {
      color: #999;
    }
  }
}

.blog {
  & & {
    .navBar__link {
      color: #999;
    }
  }
}

.testimonials {
  & & {
    .navBar__link {
      color: #999;
    }
  }
}

.editingServices {
  & & {
    .navBar__link {
      color: #999;
    }
  }
}


.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  color: white;

  &__logo {
    margin: 1.5rem 1.5rem 0.5rem 1.5rem;

    &Text {
      letter-spacing: 0.1rem;
      font-weight: 500;
      margin: 0;
    }

    &Link {
      color: white;
    }
  }

  &__navBar {
    margin: 0.5rem 1.5rem 1.5rem 1.5rem;
  }
}

.navBar {
  display: inline-block;

  &__list {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;

    &Item {
      display: inline-block;
      font-size: 1.4rem;
      text-transform: uppercase;
      cursor: pointer;
      padding-left: 0.5rem;
      width: 50%;
      box-sizing: border-box;
      float: left;
    }
  }

  &__link {
    color: white;

    &:hover {
      color: #999;
    }
  }
}

.banner {
  position: relative;
  top: 0;    
  left: 0;
  width: 100%;
  //min-height: 500px;
  padding-top: 12rem;
  padding-bottom: 8rem;

  &--aboutMe {
    background: url('../images/wallowa-lake-large.jpg') no-repeat 50% 50%;
    background-size: cover;
  }

  &--blog {
    background: url('../images/table-large.jpg') no-repeat 50% 50%;
    background-size: cover;

    &--originStory {
      background: url('../images/sunset-in-mexico-large.jpg') no-repeat 50% 50%;
      background-size: cover;
    }
  }

  &--editingServices {
    background: url('../images/scrabble-letters.jpg') no-repeat 50% 50%;
    background-size: cover;
  }

  &--testimonials {
    background: url('../images/los-arcos-large.jpg') no-repeat 50% 50%;
    background-size: cover;
  }

  &--contact {
    background: url('../images/boards-large.jpg') no-repeat 50% 50%;
    background-size: cover;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    //background: rgba(32,26,22,.7);
    background: rgba(30,30,30,.7);
  }

  &__text {
    position: relative;
    color: white;
    text-align: center;
    text-transform: uppercase;
    //padding: 2rem;
    font-size: 1.4rem;
    letter-spacing: 0.2rem;
    //margin: 2rem;
    margin: 3rem;
  }
}

.testimonial {
  &__quote {
    margin: 0;
    border-radius: 0.5rem;

    &:before {
      content: '\201C';
      font: 3rem Georgia, serif;
    }

    &:after {
      content: '\201D';
      font: 3rem Georgia, serif;
      vertical-align: middle;
    }
  }

  &__citation {
    font-style: normal;

    &Author {
      font-size: 1.6rem;
      font-weight: 600;
    }

    &Company {
      display: block;
    }
  }
}

.about {
  &__headshot {
    width: 15rem;
    height: 15rem;
    border-radius: 7.5rem;
    background: url('../images/allisyn-ma.jpg') no-repeat -5rem 0;
    background-size: cover;
    margin: 0 auto 2rem auto;
  }

  &__name {
    text-align: center;
  }
}

.post {
  &__title {
    //color: #222;
  }

  &__readMore {
    //color: #222;
  }
}

.card {
  //border-radius: 0.5rem;
  box-shadow: 0.5rem 0.5rem 0.3rem #AAA;

  &--content {
    margin-top: 1rem;
    padding: 1rem;
    background-color: white;
  }

  &--noBoxShadow {
    box-shadow: none;
  }
}

.container {
  padding: 0.5rem;
}

.services {
  &__information {

  }
}

@media (min-width: 550px) {
  html {
    font-size: 75%;
  }

  .banner {
    &__text {
      width: 450px;
      margin: 4rem auto;
      //margin: 5rem 6rem;
    }
  }

  .card--content {
    padding: 1.5rem;
  }
}

.contact {
  &__gotcha {
    display: none;
  }

  &__message {
    resize: vertical;
  }
}

.footer {
  clear: both;
  position: relative;
  bottom: -3rem;
  margin: 0 -0.5rem;

  &__contact {
    padding: 2rem;
    font-size: 2rem;
    text-align: center;
    background-color: white;
  }
}

@media (min-width: 750px) {
  html {
    font-size: 87.5%
  }

  .container {
    padding: 1rem;
  }

  .header {
    &__logo {
      display: inline-block;
      margin-left: 2.5rem;
      margin-top: 2rem;
    }

    &__navBar {
      position: absolute;
      top: 0;
      right: 0;
      margin-top: 2.75rem;
      margin-right: 2.5rem;
    }
  }

  .navBar {
    &__listItem {
      width: auto;
      padding-left: 1rem;
      font-size: 1rem;
    }
  }

  .banner {
    &__text {
      width: 600px;
      margin: 5rem auto;
    }
  }

  .card--content {
    padding: 2rem;
  }

  .service {
    width: 49%;
    box-sizing: border-box;
    float: left;

    &--type {
      float: right;
    }
  }
}

@media (min-width: 1000px) {
  html {
    //font-size: 100%;
  }

  .header {
    &__logo {
      //margin-left: 2rem;
    }

    &__navBar {
      //margin-top: 2.25rem;
      //margin-right: 2.5rem;
    }
  }

  .navBar {
    &__listItem {
      padding-left: 1.5rem;
    }
  }

  .banner {
    &__text {
      margin: 6rem auto;

      .banner--editingServices & {
        min-width: 75%;
      }
    }
  }

  .card--content {
    padding: 3rem;
  }
}

.u-paddedList {
  padding: 0 2rem;
}

.u-separated {
  margin-top: 2rem;
  padding-top: 1.5rem;
  border-top: 1px solid #AAA;
}

