---
---

.aboutMe {
  & & {
    .navBar__link {
      color: #999;
    }
  }
}

.blog {
  & & {
    .navBar__link {
      color: #999;
    }
  }
}

.testimonials {
  & & {
    .navBar__link {
      color: #999;
    }
  }
}

.editing-services {
  & & {
    .navBar__link {
      color: #999;
    }
  }
}


.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  color: white;

  &__logo {
    //float: left;
    //width: 100%;
    //display: inline-block;
    margin: 1.5rem 1.5rem 0.5rem 1.5rem;

    &Text {
      letter-spacing: 0.1rem;
      font-weight: 500;
      //margin: 2rem 2rem 0 2rem;
      margin: 0;
    }

    &Link {
      color: white;
      text-decoration: none;
    }
  }

  &__navBar {
    //display: inline-block;
    margin: 0.5rem 1.5rem 1.5rem 1.5rem;
  }
}

.navBar {
  //margin: 0 1rem 1rem 1rem;
  display: inline-block;
  //float: right;

  &__list {
    display: inline-block;
    list-style: none;
    //padding: 1rem;
    padding: 0;
    margin: 0;

    &Item {
      display: inline-block;
      //margin: 0.5rem;
      letter-spacing: 0.2rem;
      font-size: 1rem;
      text-transform: uppercase;
      cursor: pointer;
      padding: 0.5rem;
      width: 50%;
      box-sizing: border-box;
      float: left;

/*
      &--bordered {
        padding: 1.2rem;
        border: 0.2rem solid white;
        transition: background-color .1s 0s ease-in-out, color .1s 0s ease-in-out;

        &:hover {
          background-color: white;

          .navBar__link {
            color: black;
          }
        }
      }
      */
    }
  }

  &__link {
    color: white;
    text-decoration: none;

    &:hover {
      color: #999;
    }
  }
}

.banner {
  position: relative;
  top: 0;    
  left: 0;
  width: 100%;
  //min-height: 500px;
  padding-top: 14rem;
  padding-bottom: 6rem;

  &--aboutMe {
    background: url('../images/wallowa-lake-large.jpg') no-repeat 50% 50%;
    background-size: cover;
  }

  &--testimonials {
    background: url('../images/los-arcos-large.jpg') no-repeat 50% 50%;
    background-size: cover;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(32,26,22,.7);
  }

  &__text {
    position: relative;
    color: white;
    //z-index: 100;
    text-align: center;
    text-transform: uppercase;
    //max-width: 900px;
    //margin: 0 auto;
    padding: 2rem;
    font-size: 1rem;
    letter-spacing: 0.5rem;
  }
}

.content {
  //max-width: 1000px;
  //margin: 0 auto;
  padding: 0.5rem;
  //text-align: center;
  //card layout
  background-color: #DDD;
}

.testimonial {
  margin-bottom: 2rem;
  //card layout
  background-color: white;
  border-radius: 0.5rem;
  padding: 2rem;
  box-shadow: 0.5rem 0.5rem 0.3rem #AAA;

  &__quote {
    margin: 0;
    //background-color: #DDD;
    //padding: 2rem;
    //card layout
    border-radius: 0.5rem;

    &:before {
      content: '\201C';
      font: 3rem Georgia, serif;
    }

    &:after {
      content: '\201D';
      font: 3rem Georgia, serif;
      vertical-align: middle;
    }
  }

  &__citation {
    font-style: normal;

    &Author {
      font-size: 1.4rem;
      font-weight: 600;
    }

    &Company {
      display: block;
    }

    &Link {
      text-decoration: none;
    }
  }
}

.about {
  background-color: white;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0.5rem 0.5rem 0.3rem #AAA;

  &__headshot {
    width: 15rem;
    height: 15rem;
    border-radius: 7.5rem;
    background: url('../images/allisyn-ma.jpg') no-repeat -5rem 0;
    background-size: cover;
    margin: 0 auto 2rem auto;
  }

  &__name {
    text-align: center;
  }
}

.post {
  background-color: white;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0.5rem 0.5rem 0.3rem #AAA;
}







/*
.aboutMe {
  & & {
    .navBar__link {
      color: #999;
    }
  }
}

.blog {
  & & {
    .navBar__link {
      color: #999;
    }
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  color: white;

  &__logo {
    float: left;

    &Text {
      letter-spacing: 0.1rem;
      font-weight: 500;
      margin: 2rem;
    }

    &Link {
      color: white;
    	text-decoration: none;
    }
  }
}

.navBar {
  margin: 1rem;
  float: right;

  &__list {
    list-style: none;

    &Item {
      display: inline-block;
      margin: 1rem;
      letter-spacing: 0.2rem;
      font-size: 1.2rem;
      text-transform: uppercase;
      cursor: pointer;

      &--bordered {
        padding: 1.2rem;
        border: 0.2rem solid white;
        transition: background-color .1s 0s ease-in-out, color .1s 0s ease-in-out;

        &:hover {
          background-color: white;

          .navBar__link {
            color: black;
          }
        }
      }
    }
  }

  &__link {
    color: white;
    text-decoration: none;

    &:hover {
      color: #999;
    }
  }
}

.banner {
  position: relative;
  top: 0;    
  left: 0;
  width: 100%;
  //min-height: 500px;
  padding-top: 22rem;
  padding-bottom: 22rem;
  background-size: cover;

  &--aboutMe {
  	  background: url('../images/wallowa-lake-large.jpg') no-repeat 50% 50%;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(32,26,22,.7);
  }

  &__text {
    position: relative;
    color: white;
    z-index: 100;
    text-align: center;
    text-transform: uppercase;
    max-width: 900px;
    margin: 0 auto;
    padding: 25px;
  }
}

.content {
  max-width: 1000px;
  margin: 0 auto;
  padding: 5rem;
  //text-align: center;
}

.u-spacedOut {
  letter-spacing: 0.5rem;
}
*/

