<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}</title>

    <meta name="author" content="{{ site.name }}" />
    <meta name="description" content="{{ site.description }}">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
    
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Raleway' />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/base.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.url }}/feed.xml" />
    {% include analytics.html %}
  </head>
  <body id="{{ page.class }}">
    <div class="container">
      <header class="header">
        <div class="header__logo">
          <div class="header__logoText">
            <a class ="header__logoLink" href="/">
              Allisyn the Editor
            </a>
          </div>
        </div>
        <div class="header__navBar">
          <nav class="navBar">
            <ul class="navBar__list">
              <li class="navBar__listItem">
                <a class="navBar__link navBar__link--about" href="/">About Me</a>
              </li>
              <li class="navBar__listItem">
                <a class="navBar__link navBar__link--editing" href="/editing-services/">Editing Services</a>
              </li>
              <li class="navBar__listItem">
                <a class="navBar__link navBar__link--blog" href="/blog/">Blog</a>
              </li>
              <li class="navBar__listItem">
                <a class="navBar__link navBar__link--testimonials" href="/testimonials/">Testimonials</a>  
              </li>
            </ul>
          </nav>
        </div>
      </header>
      <div class="banner banner--{{ page.class }}">
        <div class="banner__overlay"></div>
        <div class="banner__content">
          <div class="banner__contentText">
            {{ page.bannerText }}
          </div>
        </div>
        <div class="banner__contact">
          <a class="banner__contactLink" href="/contact/">Contact me!</a>
        </div>
      </div>
      <div class="content">
        {{ content }}
      </div>
    </div>
  </body>
</html>
